* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #d3bea1;
  
}

@import "./base/variables";
@import "./base/mixins";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
