.menu-barra {
  background-color: $color-primary;
}

.nav-item {
  margin: 4px;
  color: #15163d;
  font-size: 16px;
  border: 1px solid #e04c26;
  border-radius: 10px;
  background-color: $color-secondary;
  transition: 1s;

  &:hover {
    background-color: blueviolet;
  }
}
